# Data via Kaggle Client Library

In [1]:
from kaggle.api.kaggle_api_extended import KaggleApi
import pandas as pd
import os

print("Imports complete")


# Authentication defaults to use the config file in the predefined location.
api = KaggleApi()
api.authenticate()

Imports complete

In [2]:
api.datasets_list()



# directories
dataset = 'iamsouravbanerjee/world-population-dataset'
out_path = 'Data/WorldPopulation'


#Download file 'world_population.csv' from the dataset
api.dataset_download_file(dataset, 'world_population.csv', out_path)

Dataset URL: https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset

False

In [3]:
# read into pandas df
wp_df = pd.read_csv(os.path.join(out_path, 'world_population.csv'))
wp_df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

### Population increase 

Percent Increase =  ( Population2022 − Population2000 ) / Population2000

In [4]:
# percentage increase from 2000 to 2022 - decimal

wp_df['PercentIncrease_2000_2022'] = round(
    (wp_df['2022 Population'] - wp_df['2000 Population']) / wp_df['2000 Population'], 3)



# sort in descending order
wp_sorted = wp_df.sort_values(by='PercentIncrease_2000_2022', ascending=False)




# Result
wp_sorted[['Country/Territory','Continent','2000 Population', '2022 Population', 'PercentIncrease_2000_2022']].head(10)

,Country/Territory,Continent,2000 Population,2022 Population,PercentIncrease_2000_2022
167,Qatar,Asia,645937,2695122,3.172
219,United Arab Emirates,Asia,3275333,9441129,1.882
59,Equatorial Guinea,Africa,684977,1674908,1.445
215,Turks and Caicos Islands,North America,18744,45703,1.438
148,Niger,Africa,11622665,26207977,1.255
104,Jordan,Asia,5056174,11285869,1.232
108,Kuwait,Asia,1934901,4268873,1.206
5,Angola,Africa,16394062,35588987,1.171
39,Chad,Africa,8259137,17723315,1.146
230,Western Sahara,Africa,270375,575986,1.130

In [5]:
wp_sorted[['Country/Territory','Continent','2000 Population', '2022 Population', 'PercentIncrease_2000_2022']].tail(10)

,Country/Territory,Continent,2000 Population,2022 Population,PercentIncrease_2000_2022
218,Ukraine,Europe,48879755,39701739,-0.188
229,Wallis and Futuna,Oceania,14723,11572,-0.214
226,Vatican City,Europe,651,510,-0.217
25,Bosnia and Herzegovina,Europe,4179350,3233526,-0.226
111,Latvia,Europe,2392530,1850651,-0.226
133,Moldova,Europe,4251573,3272996,-0.230
126,Marshall Islands,Oceania,54224,41569,-0.233
117,Lithuania,Europe,3599637,2750055,-0.236
3,American Samoa,Oceania,58230,44273,-0.240
153,Northern Mariana Islands,Oceania,80338,49551,-0.383

### Save to csv file

In [6]:
#utput path
output_path = 'Data/WorldPopulation/PopulationWithPercentIncrease.csv'

# Save 
wp_sorted.to_csv(output_path, index=False)

print(f'DataFrame saved to {output_path}')

DataFrame saved to Data/WorldPopulation/PopulationWithPercentIncrease.csv

## US population percent increase from 2000 to 2022?

In [7]:
wp_sorted[wp_sorted["Country/Territory"] == "United States"][["PercentIncrease_2000_2022", "Country/Territory"]]

     PercentIncrease_2000_2022 Country/Territory
221                      0.198     United States